.sidebar {
  flex: 0.7;
  background: rgba(22, 20, 20, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sidebar > hr{
    height: 1px;
    border: 0;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}