.sidebarRow {
  color: #18ea00;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.sidebarRow__icon {
  color: #18ea00;
  font-size: large !important;
}
.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.sidebarRow:hover {
  background: rgba(22, 20, 20, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  cursor: pointer;
}
.sidebarRow:hover > .sidebarRow__icon {
  color: white;
}
.sidebarRow:hover > .sidebarRow__title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.sidebarRow.selected {
    background: rgba( 24, 234, 0, 0.80 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    
  color: black;
}
.sidebarRow.selected > .sidebarRow__icon {
  color: black;
}
.sidebarRow.selected > .sidebarRow__title {
  font-weight: bolder;
  color: black;
}
